@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  margin-left: 70px;
  margin-bottom: 50px;
  overflow-y: hidden;
  @include mobileSS {
    margin-left: 0px;
    margin-top: 50px;
  }

  .content {
    display: flex;
    overflow-y: hidden;
    min-height: 100vh;
    height: 100%;
    .colors {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        padding: 20px 30px;
        border-radius: 10px;
      }
    }
    .editor {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      overflow-y: scroll;
      scroll-behavior: auto;
      // height: max-content;
      textarea {
        background-color: $primaryColor;
        color: $fontColor;
        min-height: 50vh;
        max-width: 100%;
        width: 100%;
        outline: none;
        border-radius: 10px;
        padding: 20px;
        border: none;
        font-size: large;
        &:active {
          border: none;
        }
        &:focus {
          border: none;
        }
      }
    }
    .markdown {
      width: 60%;
      min-height: 100vh;
      height: 100%;
      padding: 20px;
      p {
        padding: 10px 0px;
        font-size: larger;
        line-height: 27px;
      }
      ul,
      ol {
        padding: 10px 20px;
        li {
          list-style: decimal;
        }
      }
      ul {
        padding: 10px 20px;
        li {
          list-style: disc;
        }
      }
    }
  }
}
