@import "../../styles/variables";
@import "../../styles/screensize";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  @include tabletSS {
    padding: 15px;
  }
  .title {
    font-size: larger;
    padding-bottom: 20px;
    font-weight: 200;
    @include tabletSS {
      padding: 0px;
    }
  }
  .cards {
    padding: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    @include tabletSS {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mobileSS {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 10px;
    }
    div {
      background-color: #fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      min-height: 200px;
      min-width: 200px;
      width: fit-content;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      // text-justify: distribute;
      @include tabletSS {
        min-width: 40vw;
        min-height: 150px;
      }
      h3 {
        color: $primaryColor;
        font-size: medium;
        font-weight: 300;
      }
      p {
        color: rgb(121, 119, 119);
        font-weight: 300;
        text-align: center;
        font-size: small;
      }
      &:hover {
        background-color: $primaryColor;
        color: #fff;
        h3,
        p {
          color: #fff;
        }
      }
    }
  }
}
