@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  margin-left: 70px;
  // margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // flex-direction: column;

  .editorDiv {
    width: 80%;
    height: 100%;
    margin: 20px;
  }
}
