@import "../../styles/screensize";
@import "../../styles/variables";

// @mixin sidebar {
//   width: 30%;
//   background-color: #fff;
//   // padding: 20px;
// }
.wrapper {
  flex-direction: column;
  height: 100vh;

  overflow: hidden;
  // width: 100%;
  // height: 100%;
  // overflow: hidden;

  @include mobileSS {
    margin-top: 50px;
  }

  .body {
    min-height: 100vh;
    overflow-y: scroll;
    display: grid;
    // grid-template-columns: 80% 20%;
    margin-left: calc(70px + 10vw);
    margin-right: 10vw;
    position: relative;
    @include mobileSS {
      margin: 0px;
    }
  }
}
