@import "../../styles/screensize";
@import "../../styles/variables";

.container {
  margin-left: 200px;
  margin-bottom: 50px;
  @include mobileSS {
    margin-left: 0px;
    margin-top: 50px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
}
