@import "../../styles/screensize";
@import "../../styles/variables";

.wrapper {
  margin-left: 70px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  @include mobileSS {
    margin-left: 0px;
    margin-top: 50px;
  }

  .titleSection {
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
