@import "../../styles/screensize";
@import "../../styles/variables";

.wrapper {
  margin-left: 70px;
  margin-bottom: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include mobileSS {
    margin-left: 0px;
    margin-top: 50px;
  }
  select {
    width: 50%;
    background-color: $primaryColor;
    padding: 10px 20px;
    color: $fontColor;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .noteList {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;

    .gridContainer {
      display: grid;
      // grid-row-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;

      // background-color: antiquewhite;
      height: 250px;
      div {
        background-color: $primaryColor;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 2px 0px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        &:hover {
          background-color: $secondaryColor;
        }

        .colorDiv {
          height: 10px;
          width: 20px;
        }
      }
    }
  }

  .contentSection {
    width: 100%;
    padding: 50px;
    min-height: 100vh;
  }
}
