@import "../../styles/variables";
@import "../../styles/screensize";

.container {
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  @include tabletSS {
    margin: 0px;
    margin-top: 50px;
  }
  .contents {
    padding: 40px 20px;
    margin: 0 auto;
    @include tabletSS {
      padding: 20px 10px;
    }
    .sectionTitle {
      padding: 10px 0px;
    }
    .card {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      width: 70vw;
      padding: 15px 10px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
      margin-bottom: 10px;
      @include mobileSS {
        flex-direction: column;
        width: 90vw;
        padding: 15px;
      }
      &:hover {
        background-color: $primaryColor;
        color: #fff;
      }
      .from {
        width: 100px;
        color: rgb(190, 189, 189);
        @include mobileSS {
          padding-bottom: 10px;
        }
      }
      .seen {
        width: 50px;
        color: rgb(190, 189, 189);
        font-size: small;
        font-style: italic;
      }
      .message {
        font-size: 14px;
        @include mobileSS {
          padding-bottom: 10px;
        }
      }
    }
  }
}
