@import "../../styles/screensize";
@import "../../styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  .bubbleSection {
    padding: 10px;

    .myChatBubbleContainer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 50px;
      border-radius: 10px;
      .myChatBubble {
        margin: 0 10px;
        padding: 15px;
        background-color: rgb(68, 80, 84);
        color: #fff;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 30px;
        text-align: justify;
        min-width: 100%;
        // display: flex;
        .topSection {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          // width: 70%;
          svg {
            &:hover {
              background-color: $primaryColor;
              padding: 10px;
              font-size: 30px;
              border-radius: 5px;
            }
          }
          .time {
            font-weight: 200;
            font-size: 10px;
          }
        }
        hr {
          border: 0.5px $primaryColor solid;
          margin-top: 10px;
        }
      }
    }

    .othersChatBubble {
      margin: 0 10px;
      padding: 10px;
      background-color: $primaryColor;
      min-width: 100%;
      p {
        padding: 10px 10px;
      }
    }
  }
  .textField {
    position: fixed;
    bottom: 10px;
    margin: 0 15vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    div {
      margin: 0;
      padding: 0;
    }
    @include mobileSS {
      width: 100%;
    }
    @include tabletSS {
      grid-template-columns: 70% 30%;
    }
    input[type="text"] {
      padding: 20px;
      border: none;
      margin: 8px 0;
      box-sizing: border-box;
      width: 50vw;
      border-radius: 10px;
      color: $fontColor;
      font-size: large;
      border: solid 0px;
      background-color: $primaryColor;
      outline: none;
    }
  }
}
