@import "../../styles/screensize";
@import "../../styles/variables";

.wrapper {
  margin-left: 200px;
  margin-bottom: 50px;
  @include mobileSS {
    margin-left: 0px;
    margin-top: 50px;
  }

  .formSection {
    width: 50vw;
    margin: 0px auto;
    // margin-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px 10px;
    @include mobileSS {
      margin-top: 70px;
      width: 90vw;
    }
  }
}
